node_modules/
vendor/
.env
.env.*
!.env.example
!.env.docker
storage/logs/*
storage/framework/views/*
storage/framework/sessions/*
storage/framework/cache/*
bootstrap/cache/*.php
public/build/
.git
.vscode
.idea
*.log
.DS_Store
Thumbs.db
